@import url('reset.css');

.container {
    width: 1200px;
    margin: 0 auto;
    
}

.heder>div {
    width: 400px;
    height: 400px;
    background: #F6FFD4;
    outline: 1px solid #000000;
    display: inline-block;
    font-size: 20px;
}

.bodyfirst>div {
    width: 800px;
    height: 200px;
    background: #DAFBF7;
    outline: 1px solid #000000;
    font-size: 20px;
}

.bodysecond>div {
    width: 400px;
    height: 133.333px;
    background: #DAFBF7;
    outline: 1px solid #000000;
    font-size: 20px;
}

.second>div {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
}

.footfirst {
    height: 400px;
    width: 400px;
    font-size: 20px;
    background: #F9E6F9;
    outline: 1px solid #000000;
    display: inline-block;
}

.footsecond {
    width: 800px;
    display: inline-block;
    font-size: 0px;
    vertical-align: top;
    background: #F9E6F9;

}

.secondtop {
    height: 200px;
    outline: 1px solid #000000;
    font-size: 20px;

}

.secondbotleft {
    height: 200px;
    outline: 1px solid #000000;
    width: 400px;
    display: inline-block;
    font-size: 20px;

}

.secondbotright {
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
}

.right {
    height: 100px;
    outline: 1px solid #000000;
    width: 400px;

}




.flex-head {
    display: flex;
}

.head-block {
    height: 400px;
    outline: 1px solid #000000;
    background: #F6FFD4;
}

.flex-main {
    display: flex;
}

.flex-main-1 {
    width: 800px;
    height: 200px;
    outline:1px solid #000000;
    background: #DAFBF7;
}

.flex-main-2 {
    width: 400px;
    height: 133.333px;
    outline: 1px solid #000000;
    background: #DAFBF7;
}

.flex-foot {
    display: flex;
}

.flex-foot-1 {
    width: 400px;
    height: 400px;
    outline: 1px solid #000000;
    background: #F9E6F9;
}

.flex-foot-2 {
    width: 800px;
    height: 200px;
    outline:1px solid #000000;
    background: #F9E6F9;
}

.flex-foot-3 {
    width: 400px;
    height: 200px;
    outline:1px solid #000000;
    background: #F9E6F9;
}

.flex-foot-4 {
    width: 400px;
    height: 100px;
    outline:1px solid #000000;
    background: #F9E6F9;
}
